

<div class="add-search-container">
    <!-- <button #addButton class="btn-add mat-elevation-z8" mat-button (click)=openDialog(-1)>
        <mat-icon color="accent" aria-label="Example icon-button with a heart icon">add</mat-icon> 
        Create   
    </button> -->
    
    <button mat-raised-button class="btn-add mat-elevation-z6" color="primary" isRoundButton="true" (click)=openDialog(-1)>

    <!-- <button mat-button class="btn-add mat-elevation-z6" color="primary" isRoundButton="true" (click)=openDialog(-1)> -->
            <mat-icon>add</mat-icon>
            Create
    </button>
    <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>
</div>


<div >
    <div class="my-table-wrapper">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z3" [ngClass]="'customMatTable'">

            <ng-container class="my-ng-container-data" *ngFor="let disCol of displayedColumns.slice(0,-1);
                        let colIndex = index" matColumnDef="{{disCol}}"
                        >
                    <mat-header-cell *matHeaderCellDef mat-sort-header>

                        {{disCol}}

                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" >
                            <!-- <span style="overflow:hidden;margin:0px 10px 0px 0px; "> -->
                            <span>
                                    <span [ngClass]="'my-mat-cell'">
                                        <input matInput [attr.disabled]="true" value="{{row[disCol]}}">
                                        <!-- <textarea readonly class="mat-cell-textarea">{{row[disCol]}}</textarea>     -->
                                    </span>
                            </span>
                    
                    </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions" style="flex: 0 0 25% !important;">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell> 
                    <mat-cell *matCellDef="let row; let i=index">
                        <button mat-icon-button color="accent" (click)=openDialog(i)>
                            <mat-icon aria-label="Edit">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="accent">
                            <mat-icon aria-label="Delete" (click)="deleteItem(i)">delete</mat-icon>
                        </button>
                    </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns sticky:true" ></mat-header-row>
            <mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" class="my-mat-row" [ngClass]="{gray:even}" ></mat-row>
        </mat-table>
    </div>

</div>

        <mat-paginator
        [ngClass]="'my-paginator'"
        class="mat-elevation-z5"
        [pageSize]="9"
        [pageSizeOptions]="[9, 12, 24, 50]"
        showFirstLastButtons>
        </mat-paginator> 





<!-- [pageSizeOptions]="[9, 12, 24, 50]" -->


  
  